<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->

<form action="/" method="POST">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="age">age:</label><br>
  <input type="text" id="age" name="age"><br>
  <label for="quote">quote:</label><br>
  <input type="text" id="quote" name="quote"><br><br>
  <input type="submit" value="Submit">
</form> 
 
</body>
</html>